{% extends 'base.html.twig' %}

{% block title %} Show session! {% endblock %}

{% block body %}
<h1>Détail du session {{session}}</h1>
    <div>     
            <figure>
                <img src="{{session.image}}" alt=" image {{session.title}}"/>
            </figure>
            
            <h2>Intitulé : {{session.title}} <br></h2>
            <hr>
            <p>
                Formateur: <a href="{{ path('show_trainer', {'id': session.trainer.id}) }}"> {{session.trainer}} </a> <br>
                ************************************** <br>
                Date de début : {{session.frenchStartDate}} <br>
                Date de fin : {{session.frenchEndDate}} <br>
                nombre de place: {{session.countPlaceLeft()}} / {{session.nbPlace}} <br>
                nombre d'inscrits : {{session.countPlaceTaken}}<br>
                nombre de module : {{session.countModulesInSession()}} <br>
                ************************************** <br>


                    {# {% for programme in session.programmes %}
                        {{programme.module}}
                    {% endfor %} #}

            <p>
            
    </div>

{% endblock %}